---
interface Props {
  id: number
  name: string
  slug: string
  price: number
  description: string
  cover: string
  coverCredits: string
  category: string
}

const { id, name, slug, price, description, cover, coverCredits, category } =
  Astro.props
const transitionName = slug
---

<a href={`/product/${slug}`} class="block">
  <article
    class="group flex flex-col overflow-hidden rounded-lg bg-white shadow-sm transition-all hover:shadow-xl hover:shadow-gray-100"
  >
    <div class="overflow-hidden">
      <img
        src={cover}
        alt={name}
        transition:name={`${transitionName} image`}
        class="w-full rounded-md object-cover object-center grayscale-[0.1] transition-all group-hover:scale-105 group-hover:grayscale-0"
      />
    </div>
    <div class="p-6">
      <h3
        class="truncate font-semibold"
        transition:name={`${transitionName} title`}
      >
        {name}
      </h3>
      <p
        class="truncate text-sm text-gray-600"
        transition:name={`${transitionName} description`}
      >
        {description}
      </p>
      <div class="mt-4 text-right" transition:name={`${transitionName} price`}>
        <span class="font-semibold">${price}</span>
      </div>
    </div>
  </article>
</a>
